[submodule "extern/mavlink"]
	path = extern/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "extern/ardupilot"]
	path = extern/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
